<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <ion-card *ngIf="item">
<img [src]="item.imageURL" alt="">
 <ion-card-header color="danger">
<ion-card-title>
  {{item.name}}
</ion-card-title>
 </ion-card-header>
 <ion-card-content>
  <ion-list style="color: rgb(12, 62, 224);">
    {{item.detail}}
</ion-list>
<ion-list>
{{item.price}}บาท
</ion-list>
 </ion-card-content>
</ion-card>
</ion-content>
